<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Passing values by setter -->
    <bean id="book" class="studying.spring.core.xml.config.setter.Book">
        <property name="id" value="50" />
        <property name="name" value="Spring Boot no Secrets" />
        <property name="author" value="Uncle Bob" />
    </bean>

</beans>