<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="collection" class="spring.core.collections.CollectionHolder">
        <property name="myList">
            <list>
                <value>List 1</value>
                <value>List 2</value>
            </list>
        </property>
        <property name="mySet">
            <set>
                <value>Set 1</value>
                <value>Set 2</value>
            </set>
        </property>
        <property name="myMap">
            <map>
                <entry key="Key 1" value="value 2" />
                <entry key="Key 2" value="value 3" />
                <entry key="Key 3" value="value 3" />
            </map>
        </property>
        <property name="myPlayers">
            <list>
                <ref bean="player1" />
                <ref bean="player2" />
                <ref bean="player3" />
            </list>
        </property>
        <property name="properties">
            <props>
                <prop key="username">admin</prop>
                <prop key="password">admin</prop>
                <prop key="dataSourceUrl">http://localhost:3060</prop>
            </props>
        </property>
    </bean>
    <bean id="player1" class="spring.core.collections.Player">
        <property name="id" value="1" />
        <property name="name" value="Filipe Player" />
    </bean>
    <bean id="player2" class="spring.core.collections.Player">
        <constructor-arg name="id" value="2" />
        <constructor-arg name="name" value="Jhonny Player" />
    </bean>
    <bean id="player3" class="spring.core.collections.Player">
        <constructor-arg name="id" value="3" />
        <constructor-arg name="name" value="Bastião Player" />
    </bean>
</beans>